# SELECTING OUR PRODUCTS:

Along this script we will select the products described in the list obtained in our last script, and arrange them in a dataframe in a convenient manner for their manipulation.

In [33]:
# Importing packages:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [140]:
file_path = "../../data/01_raw/"
file_name = "b2-transactions.csv"

filtered_file_name="c1-filtered_transactions.csv"

sep=";"

In [5]:
dict_of_products={'croissant': 100,
                  'croissant petit': 103,
                  'tarta mousse 3 chocolates': 10002,
                  'tarta de manzana 2ยบ': 462,
                  'palmeras de trufa': 182,
                  'tarta opera': 414,
                  'postre fresas y mascarpone': 4511,
                  'milhojas frambuesa 2ยบ': 459,
                  'torteles': 112,
                  'baguette': 115}

In [133]:
reader=pd.read_csv(file_path+file_name, sep=sep, chunksize=100000)


filtered_df=pd.DataFrame()

for chunk in reader:
    
    chunk.dropna(how='any', inplace=True)
    chunk=chunk.drop('Unnamed: 0', axis=1)

    for value in dict_of_products.values():
        
        if filtered_df.empty:
            filtered_df=chunk[chunk['product_id']==value]
        else:
            filtered_df=filtered_df.append(chunk[chunk['product_id']==value])

In [136]:
filtered_df.head()

      product_id description          order_date  section store units_ordered
47         100.0   CROISANTS   16/6/2009 0:00:00        0  BmUP          0,00
754        100.0   CROISANTS  21/12/2012 0:00:00        0  BmUP         15,00
1029       100.0   CROISANTS   14/3/2014 0:00:00        0  BmUP         18,00
1510       100.0   CROISANTS   30/7/2013 0:00:00        0  BmUP          6,00
1645       100.0   CROISSANT    3/7/2019 0:00:00        0  BmUP          4,00

In [137]:
filtered_df['product_id'].unique()

array([ 100.,  103.,  462.,  182.,  414., 4511.,  459.,  112.,  115.])

In [138]:
filtered_df.shape

(885643, 6)

In [139]:
filtered_df[filtered_df['product_id']==103].shape

(104462, 6)

## DATES TO APPROPRIATE FORMAT USING DATETIME:

In [144]:
from datetime import datetime as dttm

In [146]:
filtered_df['date']=filtered_df['order_date'].apply(lambda x: dttm.strptime(x,'%d/%m/%Y 0:00:00'))

In [181]:
filtered_df.drop('order_date', axis=1, inplace=True)

In [182]:
filtered_df.head()

      product_id description  section store units_ordered       date
47         100.0   CROISANTS        0  BmUP          0,00 2009-06-16
754        100.0   CROISANTS        0  BmUP         15,00 2012-12-21
1029       100.0   CROISANTS        0  BmUP         18,00 2014-03-14
1510       100.0   CROISANTS        0  BmUP          6,00 2013-07-30
1645       100.0   CROISSANT        0  BmUP          4,00 2019-07-03

In [184]:
filtered_df.to_csv(file_path+filtered_file_name)