In [1]:
import pandas as pd

In [2]:
base_path = '../../data/01_additional_data/'
matches_file_name = 'MATCHES_2013-2019.xlsx'
festivities_file_name = 'festivities_calendar_Madrid_2013-2020.csv'

## Matches

In [3]:
# Read matches
matches = pd.read_excel(base_path+matches_file_name,parse_dates = ['Date'] )
matches.head()
matches.columns =  [col.lower() for col in matches.columns]

In [4]:
df_matches = matches.groupby('date')['matches_madrid'].sum().reset_index()

In [5]:
# Filter
df_matches = matches[matches['matches_madrid']>0][['date','matches_madrid']]

In [6]:
df_matches[df_matches['date']<= '2019-09-30'].shape

(1086, 2)

## Festivities

In [7]:
df_public_holidays = pd.read_csv(base_path+festivities_file_name, encoding = "ISO-8859-1", sep = ';', parse_dates = ['Dia'])

In [8]:
df_public_holidays = df_public_holidays.loc[df_public_holidays['laborable / festivo / domingo festivo']=='festivo','Dia'].to_frame()

In [9]:
df_public_holidays['festivo'] = 1

In [10]:
df_public_holidays.head()

          Dia  festivo
0  2013-01-01        1
6  2013-07-01        1
76 2013-03-18        1
86 2013-03-28        1
87 2013-03-29        1

In [11]:
df_public_holidays[df_public_holidays['Dia']<= '2019-09-30'].shape

(102, 2)

## Adding it to the transactions dataframe

In [12]:
# Reading the file
input_path = "../../data/03_processed/" + "filtered_transactions_clean"
filtered_file_name="c1-filtered_transactions.csv"
sep=";"
df = pd.read_csv(input_path, sep=sep, parse_dates = ['order_date'])

In [13]:
# Grouping by product and date:
df = df.groupby(['order_date','product'])['units_ordered'].sum().reset_index()
df.shape

(42910, 3)

### Adding Public holidays

In [14]:
df_holidays = pd.merge(df, df_public_holidays, how = 'left', left_on='order_date', right_on='Dia')

In [15]:
df_holidays[df_holidays['festivo']==1]['order_date'].unique().shape

(102,)

In [16]:
df_holidays.head()

  order_date                 product  units_ordered Dia  festivo
0 2008-01-01                baguette           86.0 NaT      NaN
1 2008-01-01         croissant petit          178.0 NaT      NaN
2 2008-01-01        croissant simple          137.0 NaT      NaN
3 2008-01-01      milhojas frambuesa           12.0 NaT      NaN
4 2008-01-01  mousse tres chocolates            2.0 NaT      NaN

In [17]:
df_holidays.shape

(42910, 5)

### Adding matches

In [18]:
df_holidays_matches = pd.merge(df_holidays, df_matches, how = 'left', left_on='order_date', right_on='date')

In [19]:
df_holidays_matches.head()

,order_date,product,units_ordered,Dia,festivo,date,matches_madrid
0,2008-01-01,baguette,86.0,NaT,NaN,NaT,NaN
1,2008-01-01,croissant petit,178.0,NaT,NaN,NaT,NaN
2,2008-01-01,croissant simple,137.0,NaT,NaN,NaT,NaN
3,2008-01-01,milhojas frambuesa,12.0,NaT,NaN,NaT,NaN
4,2008-01-01,mousse tres chocolates,2.0,NaT,NaN,NaT,NaN

In [20]:
df_holidays_matches[df_holidays_matches['matches_madrid']==1]['order_date'].unique().shape

(612,)

In [21]:
df_holidays_matches = df_holidays_matches[['order_date', 'product', 'units_ordered', 'festivo','matches_madrid']]

In [22]:
df_holidays_matches.fillna(0, inplace = True)

In [23]:
df_holidays_matches

,order_date,product,units_ordered,festivo,matches_madrid
0,2008-01-01,baguette,86.0,0.0,0.0
1,2008-01-01,croissant petit,178.0,0.0,0.0
2,2008-01-01,croissant simple,137.0,0.0,0.0
3,2008-01-01,milhojas frambuesa,12.0,0.0,0.0
4,2008-01-01,mousse tres chocolates,2.0,0.0,0.0
5,2008-01-01,palmera chocolate,46.0,0.0,0.0
6,2008-01-01,postre de fresas y mascarpone,0.0,0.0,0.0
7,2008-01-01,tarta de manzana,0.0,0.0,0.0
8,2008-01-01,tarta opera,4.0,0.0,0.0
9,2008-01-01,tortel,256.0,0.0,0.0
10,2008-01-02,baguette,0.0,0.0,0.0
11,2008-01-02,croissant petit,0.0,0.0,0.0
12,2008-01-02,croissant simple,0.0,0.0,0.0
13,2008-01-02,milhojas frambuesa,0.0,0.0,0.0
14,2008-01-02,mousse tres chocolates,0.0,0.0,0.0
15,2008-01-02,palmera chocolate,0.0,0.0,0.0
16,2008-01-02,postre de fresas y mascarpone,0.0,0.0,0.0
17,2008-01-02,tarta de manzana,0.0,0.0,0.0
18,2008-01-02,tarta opera,0.0,0.0,0.0
19,2008-01-02,tortel,0.0,0.0,0.0
20,2008-01-03,baguette,61.0,0.0,0.0
21,2008-01-03,croissant petit,78.0,0.0,0.0
22,2008-01-03,croissant simple,89.0,0.0,0.0
23,2008-01-03,milhojas frambuesa,10.0,0.0,0.0
24,2008-01-03,mousse tres chocolates,0.0,0.0,0.0
25,2008-01-03,palmera chocolate,36.0,0.0,0.0
26,2008-01-03,postre de fresas y mascarpone,0.0,0.0,0.0
27,2008-01-03,tarta de manzana,0.0,0.0,0.0
28,2008-01-03,tarta opera,8.0,0.0,0.0
29,2008-01-03,tortel,232.0,0.0,0.0
...,...,...,...,...,...
47620,2019-09-28,baguette,161.0,0.0,0.0
47621,2019-09-28,croissant petit,70.0,0.0,0.0
47622,2019-09-28,croissant simple,84.0,0.0,0.0
47623,2019-09-28,milhojas frambuesa,25.0,0.0,0.0
47624,2019-09-28,mousse tres chocolates,1.0,0.0,0.0
47625,2019-09-28,palmera chocolate,36.0,0.0,0.0
47626,2019-09-28,postre de fresas y mascarpone,141.0,0.0,0.0
47627,2019-09-28,tarta de manzana,21.0,0.0,0.0
47628,2019-09-28,tarta opera,4.0,0.0,0.0
47629,2019-09-28,tortel,199.0,0.0,0.0
47630,2019-09-29,baguette,184.0,0.0,0.0
47631,2019-09-29,croissant petit,79.0,0.0,0.0
47632,2019-09-29,croissant simple,84.0,0.0,0.0
47633,2019-09-29,milhojas frambuesa,26.0,0.0,0.0
47634,2019-09-29,mousse tres chocolates,0.0,0.0,0.0
47635,2019-09-29,palmera chocolate,37.0,0.0,0.0
47636,2019-09-29,postre de fresas y mascarpone,138.0,0.0,0.0
47637,2019-09-29,tarta de manzana,21.0,0.0,0.0
47638,2019-09-29,tarta opera,0.0,0.0,0.0
47639,2019-09-29,tortel,189.0,0.0,0.0
47640,2019-09-30,baguette,112.0,0.0,0.0
47641,2019-09-30,croissant petit,91.0,0.0,0.0
47642,2019-09-30,croissant simple,84.0,0.0,0.0
47643,2019-09-30,milhojas frambuesa,9.0,0.0,0.0
47644,2019-09-30,mousse tres chocolates,0.0,0.0,0.0
47645,2019-09-30,palmera chocolate,27.0,0.0,0.0
47646,2019-09-30,postre de fresas y mascarpone,111.0,0.0,0.0
47647,2019-09-30,tarta de manzana,11.0,0.0,0.0
47648,2019-09-30,tarta opera,0.0,0.0,0.0
47649,2019-09-30,tortel,198.0,0.0,0.0

In [24]:
exit_path = "../../data/03_processed/" + "time_series.csv"
df_holidays_matches.to_csv(exit_path)