# SELECTING OUR PRODUCTS:

Along this script we will select the products described in the list obtained in our last script, and arrange them in a dataframe in a convenient manner for their manipulation.

In [ ]:
# Importing packages:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [ ]:
file_path = "../../data/01_raw/"
file_name = "b2-transactions.csv"

filtered_file_name="c1-filtered_transactions.csv"

sep=";"

In [ ]:
dict_of_products={'croissant': 100,
                  'croissant petit': 103,
                  'tarta mousse 3 chocolates': 10002,
                  'tarta de manzana 2ยบ': 462,
                  'palmeras de trufa': 182,
                  'tarta opera': 414,
                  'postre fresas y mascarpone': 4511,
                  'milhojas frambuesa 2ยบ': 459,
                  'torteles': 112,
                  'baguette': 115}

In [187]:
reader=pd.read_csv(file_path+file_name, sep=sep, chunksize=100000)


filtered_df=pd.DataFrame()

for chunk in reader:
    
    chunk.dropna(how='any', inplace=True)
    chunk=chunk.drop('Unnamed: 0', axis=1)

    for value in dict_of_products.values():
        
        if filtered_df.empty:
            filtered_df=chunk[chunk['product_id']==value]
        else:
            filtered_df=filtered_df.append(chunk[chunk['product_id']==value])

In [188]:
filtered_df.head()

      product_id description          order_date  section store units_ordered
47         100.0   CROISANTS   16/6/2009 0:00:00        0  BmUP          0,00
754        100.0   CROISANTS  21/12/2012 0:00:00        0  BmUP         15,00
1029       100.0   CROISANTS   14/3/2014 0:00:00        0  BmUP         18,00
1510       100.0   CROISANTS   30/7/2013 0:00:00        0  BmUP          6,00
1645       100.0   CROISSANT    3/7/2019 0:00:00        0  BmUP          4,00

In [189]:
filtered_df['product_id'].unique()

array([ 100.,  103.,  462.,  182.,  414., 4511.,  459.,  112.,  115.])

In [190]:
filtered_df.shape

(885643, 6)

In [191]:
filtered_df[filtered_df['product_id']==103].shape

(104462, 6)

## DATES TO APPROPRIATE FORMAT USING DATETIME:

In [192]:
from datetime import datetime as dttm

In [193]:
filtered_df['date']=filtered_df['order_date'].apply(lambda x: dttm.strptime(x,'%d/%m/%Y 0:00:00'))

In [197]:
filtered_df['units_ordered_numeric']=filtered_df['units_ordered'].str.split(",").str[0].astype(dtype='long')

In [198]:
filtered_df.drop('order_date', axis=1, inplace=True)

KeyError: "['order_date'] not found in axis"

In [199]:
filtered_df.drop('units_ordered', axis=1, inplace=True)

In [201]:
filtered_df.rename(columns={'units_ordered_numeric':'units_ordered'}, inplace=True)

In [202]:
filtered_df.head()

      product_id description  section store       date  units_ordered
47         100.0   CROISANTS        0  BmUP 2009-06-16              0
754        100.0   CROISANTS        0  BmUP 2012-12-21             15
1029       100.0   CROISANTS        0  BmUP 2014-03-14             18
1510       100.0   CROISANTS        0  BmUP 2013-07-30              6
1645       100.0   CROISSANT        0  BmUP 2019-07-03              4

In [203]:
filtered_df.to_csv(file_path+filtered_file_name, sep=sep)