# SELECTING OUR PRODUCTS:

Along this script we will select the products described in the list obtained in our last script, and arrange them in a dataframe in a convenient manner for their manipulation.

In [33]:
# Importing packages:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [4]:
file_path = "../../data/01_raw/"
file_name = "b2-transactions.csv"

sep=";"

In [5]:
dict_of_products={'croissant': 100,
                  'croissant petit': 103,
                  'tarta mousse 3 chocolates': 10002,
                  'tarta de manzana 2ยบ': 462,
                  'palmeras de trufa': 182,
                  'tarta opera': 414,
                  'postre fresas y mascarpone': 4511,
                  'milhojas frambuesa 2ยบ': 459,
                  'torteles': 112,
                  'baguette': 115}

In [67]:
reader=pd.read_csv(file_path+file_name, sep=sep, chunksize=100000)


filtered_df=pd.DataFrame()

for chunk in reader:
    
    chunk.dropna(how='any', inplace=True)
    chunk=chunk.drop('Unnamed: 0', axis=1)

    for value in dict_of_products.values():
        
        if filtered_df.empty:
            filtered_df=chunk[chunk['product_id']==value]
        else:
            filtered_df.append(chunk[chunk['product_id']==value])

In [77]:
reader=pd.read_csv(file_path+file_name, sep=sep, chunksize=100000)

filtered_df=pd.DataFrame()

chunk=next(reader)
    
chunk.dropna(how='any', inplace=True)
chunk=chunk.drop('Unnamed: 0', axis=1)

aaa=list()

for value in dict_of_products.values():
        
    if filtered_df.empty:
        filtered_df=chunk[chunk['product_id']==value]
    else:
        filtered_df.append(chunk[chunk['product_id']==value])

In [100]:
reader=pd.read_csv(file_path+file_name, sep=sep, chunksize=100000)

filtered_df=pd.DataFrame()

chunk=next(reader)
    
chunk.dropna(how='any', inplace=True)
chunk=chunk.drop('Unnamed: 0', axis=1)

aaa=list()
counter=0

for value in dict_of_products.values():
    
        if counter==0:
            filtered_df=chunk[chunk['product_id']==value]
            counter=1
        else:
            bbb=chunk[chunk['product_id']==value])
            filtered_df.append(bbb)

In [101]:
bbb

,product_id,description,order_date,section,store,units_ordered
51,115.0,BAGUETT MALLORCA,16/6/2009 0:00:00,0,BmUP,"2,00"
780,115.0,BAGUETTE MALLORCA,21/12/2012 0:00:00,0,BmUP,"8,00"
1038,115.0,BAGUETTE MALLORCA,14/3/2014 0:00:00,0,BmUP,"7,00"
1518,115.0,BAGUETTE MALLORCA,30/7/2013 0:00:00,0,BmUP,"5,00"
1657,115.0,BAGUETTE MALLORCA,3/7/2019 0:00:00,0,BmUP,"4,00"
1810,115.0,BAGUETTE MALLORCA,15/3/2014 0:00:00,0,BmUP,"7,00"
2203,115.0,BAGUETTE MALLORCA,5/4/2013 0:00:00,0,BmUP,"7,00"
2809,115.0,BAGUETTE MALLORCA,4/7/2019 0:00:00,0,BmUP,"4,00"
2959,115.0,BAGUETTE MALLORCA,30/7/2013 0:00:00,0,BmUP,"0,00"
3612,115.0,BAGUETTE MALLORCA,6/4/2013 0:00:00,0,BmUP,"8,00"
3756,115.0,BAGUETTE MALLORCA,11/5/2015 0:00:00,0,BmUP,"6,00"
4225,115.0,BAGUETTE MALLORCA,5/7/2019 0:00:00,0,BmUP,"4,00"
4537,115.0,BAGUETTE MALLORCA,16/3/2014 0:00:00,0,BmUP,"7,00"
5723,115.0,BAGUETTE MALLORCA,17/3/2014 0:00:00,0,BmUP,"6,00"
5982,115.0,BAGUETTE MALLORCA,7/4/2013 0:00:00,0,BmUP,"7,00"
5990,115.0,BAGUETTE MALLORCA,8/4/2013 0:00:00,0,BmUP,"0,00"
5998,115.0,BAGUETTE MALLORCA,8/4/2013 0:00:00,0,BmUP,"7,00"
6234,115.0,BAGUETTE MALLORCA,7/7/2019 0:00:00,0,BmUP,"5,00"
7014,115.0,BAGUETTE MALLORCA,30/11/2012 0:00:00,0,BmUP,"7,00"
7370,115.0,BAGUETTE MALLORCA,31/7/2013 0:00:00,0,BmUP,"6,00"
8320,115.0,BAGUETTE MALLORCA,1/12/2012 0:00:00,0,BmUP,"40,00"
8614,115.0,BAGUETTE MALLORCA,9/4/2013 0:00:00,0,BmUP,"0,00"
8640,115.0,BAGUETTE MALLORCA,9/4/2013 0:00:00,0,BmUP,"8,00"
9355,115.0,BAGUETTE MALLORCA,2/12/2012 0:00:00,0,BmUP,"7,00"
9526,115.0,BAGUETTE MALLORCA,10/4/2013 0:00:00,0,BmUP,"7,00"
9928,115.0,BAGUETTE MALLORCA,8/7/2019 0:00:00,0,BmUP,"4,00"
10552,115.0,BAGUETTE MALLORCA,11/4/2013 0:00:00,0,BmUP,"7,00"
10600,115.0,BAGUETTE MALLORCA,12/4/2013 0:00:00,0,BmUP,"7,00"
10965,115.0,BAGUETTE MALLORCA,12/4/2013 0:00:00,0,BmUP,"0,00"
11321,115.0,BAGUETTE MALLORCA,3/12/2012 0:00:00,0,BmUP,"7,00"
...,...,...,...,...,...,...
88107,115.0,BAGUETTE MALLORCA,17/2/2012 0:00:00,0,BmUP,"10,00"
88679,115.0,BAGUETTE MALLORCA,18/2/2012 0:00:00,0,BmUP,"70,00"
89019,115.0,BAGUETTE MALLORCA,19/2/2012 0:00:00,0,BmUP,"80,00"
89970,115.0,BAGUETTE MALLORCA,20/2/2012 0:00:00,0,BmUP,"40,00"
90151,115.0,BAGUETT MALLORCA,11/7/2011 0:00:00,0,BmUP,"2,00"
90194,115.0,BAGUETT MALLORCA,26/7/2011 0:00:00,0,BmUP,"4,00"
90488,115.0,BAGUETTE MALLORCA,21/2/2012 0:00:00,0,BmUP,"4,00"
91009,115.0,BAGUETTE MALLORCA,22/2/2012 0:00:00,0,BmUP,"40,00"
91091,115.0,BAGUETT MALLORCA,2/7/2011 0:00:00,0,BmUP,"6,00"
91199,115.0,BAGUETTE MALLORCA,23/2/2012 0:00:00,0,BmUP,"40,00"
91337,115.0,BAGUETTE MALLORCA,12/3/2019 0:00:00,0,BmUP,"6,00"
92886,115.0,BAGUETTE MALLORCA,24/2/2012 0:00:00,0,BmUP,"40,00"
93083,115.0,BAGUETTE MALLORCA,25/2/2012 0:00:00,0,BmUP,"60,00"
93138,115.0,BAGUETTE MALLORCA,13/3/2019 0:00:00,0,BmUP,"6,00"
93595,115.0,BAGUETT MALLORCA,3/7/2011 0:00:00,0,BmUP,"2,00"
93924,115.0,BAGUETTE MALLORCA,26/2/2012 0:00:00,0,BmUP,"60,00"
94454,115.0,BAGUETT MALLORCA,24/6/2011 0:00:00,0,BmUP,"3,00"
94797,115.0,BAGUETTE MALLORCA,27/2/2012 0:00:00,0,BmUP,"40,00"
95532,115.0,BAGUETTE MALLORCA,28/2/2012 0:00:00,0,BmUP,"40,00"
95653,115.0,BAGUETT MALLORCA,4/7/2011 0:00:00,0,BmUP,"2,00"
96121,115.0,BAGUETTE MALLORCA,29/2/2012 0:00:00,0,BmUP,"8,00"
97386,115.0,BAGUETTE MALLORCA,14/3/2019 0:00:00,0,BmUP,"6,00"
97592,115.0,BAGUETTE MALLORCA,7/5/2019 0:00:00,0,BmUP,"5,00"
97621,115.0,BAGUETTE MALLORCA,8/5/2019 0:00:00,0,BmUP,"5,00"
97696,115.0,BAGUETTE MALLORCA,15/3/2019 0:00:00,0,BmUP,"8,00"
98374,115.0,BAGUETT MALLORCA,25/6/2011 0:00:00,0,BmUP,"4,00"
98455,115.0,BAGUETT MALLORCA,5/7/2011 0:00:00,0,BmUP,"3,00"
98823,115.0,BAGUETTE MALLORCA,26/3/2014 0:00:00,0,BmUP,"7,00"
98949,115.0,BAGUETTE MALLORCA,16/3/2019 0:00:00,0,BmUP,"10,00"
99710,115.0,BAGUETTE MALLORCA,5/5/2013 0:00:00,0,BmUP,"10,00"

In [91]:
filtered_df.head()

      product_id description          order_date  section store units_ordered
47         100.0   CROISANTS   16/6/2009 0:00:00        0  BmUP          0,00
754        100.0   CROISANTS  21/12/2012 0:00:00        0  BmUP         15,00
1029       100.0   CROISANTS   14/3/2014 0:00:00        0  BmUP         18,00
1510       100.0   CROISANTS   30/7/2013 0:00:00        0  BmUP          6,00
1645       100.0   CROISSANT    3/7/2019 0:00:00        0  BmUP          4,00

In [102]:
filtered_df['product_id'].unique()

array([100.])

In [103]:
filtered_df.shape

(325, 6)

In [104]:
filtered_df[filtered_df['product_id']==103].shape

(0, 6)